@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  background-color: #111;
  color: #fff;
  user-select: none;
  overflow-x: hidden;
}

.main-container {
  position: relative;
  z-index: 1;
  width: 100%;
}

.separator>div {
  position: relative;
  width: 100%;
  border: 1px dashed #434343;
}

.truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* TRANSITIONS */

/* OVERLAY */
.overlay-modal-fade-enter-active,
.overlay-modal-fade-leave-active {
  transition: opacity 150ms ease-in-out;
}

.overlay-modal-fade-enter-from,
.overlay-modal-fade-leave-to {
  opacity: 0;
}

/* MODALS */
.modal-fade-enter-active,
.modal-fade-leave-active {
  transition-property: transform, opacity;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}

.modal-fade-enter-from,
.modal-fade-leave-to {
  opacity: 0;
  transform: scale(.90);
}

/* TOAST */
.toast-fade-enter-active,
.toast-fade-leave-active {
  transition-property: transform, opacity;
  transition-duration: 200ms;
  transition-timing-function: ease;
}

.toast-fade-enter-from,
.toast-fade-leave-to {
  opacity: 0;
  transform: translateY(100%);
}